.container {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.img-wrapper {
    width: 150px;
    height: 150px;   
}

.img {
    height: 150px;
    display: flex;
    margin: 0px auto;
}

.text-wrapper {
    margin-top: 5px;
    font-family: sans-serif;
}

.title {
    font-size: 15px;
}

.description {
    font-size: 13px;
    color: lightgray;
}